.Header {
    background-color: black;
    height: 100px;
    color: white;
    
}

.Introduction {
    background-color: bisque;
    justify-content: center;
    justify-self: flex-start;
    width: 50%;
    
    

}